<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{name}} &ndash; {{title}}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <style type="text/css">
      * {
        font-family: Roboto, sans-serif;
      }

      body {
        color: #333;
      }

      h2 {
        color: #1bab9e;
        text-transform: uppercase;
        border-bottom: 1px solid #ccc;
      }

      .container {
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
      }

      ul {
        list-style: none;
      }

      ul li::before {
        content: '\2022';
        color: #999;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }

      .contact-info {
        margin-left: 0;
        padding-left: 20px;
        border-left: 5px solid #e7e9ec;
      }

      .company {
        width: 100%;
      }
      .company__right {
        text-align: right;
        vertical-align: top;
      }
      .company__name {
        font-weight: bold;
        font-size: 20px;
      }
      .company__location {
        color: #999;
      }
      .company__timespan {
        color: #555;
        margin: 0;
        font-style: italic;
      }
      .company__job__title {
        color: #333;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <blockquote class="contact-info">
        <a href="mailto:{{email}}" target="_blank">{{email}}</a> |
        <a href="tel:{{phone}}" target="_blank">{{phone}}</a>
      </blockquote>

      <h1>{{name}} &ndash; {{title}}</h1>

      <h2>Qualifications</h2>
      <ul>
        {{#qualifications}}
        <li>{{.}}</li>
        {{/qualifications}}
      </ul>

      <h2>Skills/Tools</h2>
      <ul>
        {{#skills}}
        <li><strong>{{title}}:</strong> {{items}}</li>
        {{/skills}}
      </ul>

      <h2>Professional Experience</h2>

      {{#experience}}
      <table class="company">
        <tr class="company__row">
          <td class="company__left">
            <div class="company__name">
              {{company}}
            </div>
            <div class="company__location">{{location}}</div>
          </td>
          <td class="company__right">
            <div class="company__timespan">{{timespan}}</div>
          </td>
        </tr>
        <tr class="company__row">
          <td class="company__jobs" colspan="2">
            {{#projects}}
            <div cass="company__job">
              <h4 class="company__job__title">{{title}}</h4>

              <ul>
                {{#jobs}}
                <li>{{.}}</li>
                {{/jobs}}
              </ul>
            </div>
            {{/projects}}
          </td>
        </tr>
      </table>
      {{/experience}}
    </div>
  </body>
</html>
