<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{name}} &ndash; {{title}}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <style type="text/css">
      * {
        font-family: Roboto, sans-serif;
      }

      body {
        color: #333;
      }

      h2 {
        border-bottom: 1px solid #ccc;
        color: #1bab9e;
        text-transform: uppercase;
      }

      .container {
        margin: 0 auto;
        max-width: 800px;
        width: 100%;
      }

      ul {
        list-style: none;
      }

      ul li::before {
        color: #999;
        content: '\2022';
        display: inline-block;
        font-weight: bold;
        margin-left: -1em;
        width: 1em;
      }

      blockquote {
        border-left: 5px solid #e7e9ec;
        margin-left: 0;
        padding-left: 20px;
      }

      /* Company */
      .company {
        width: 100%;
      }
      .company__timespan {
        color: #555;
        font-style: italic;
        margin: 0;
      }
      .company__company__name {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .company__company__location {
        color: #999;
        font-size: 20px;
        font-weight: 600;
        display: inline-block;
        text-transform: uppercase;
      }
      .company__company__location::before {
        content: '\2022  ';
      }
      .company__project__title {
        color: #333;
      }

      /* References */
      .reference__text {
        font-size: 14px;
      }
      .reference__from {
        font-size: 16px;
        font-weight: 600;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <blockquote class="contact-info">
        <a href="mailto:{{email}}" target="_blank">{{email}}</a> |
        <a href="tel:{{phone}}" target="_blank">{{phone}}</a>
      </blockquote>

      <h1>{{name}} &ndash; {{title}}</h1>

      <h2>Summary</h2>
      <p>{{about}}</p>

      <h2>Skills/Tools</h2>
      <ul>
        {{#skills}}
        <li><strong>{{title}}:</strong> {{items}}</li>
        {{/skills}}
      </ul>

      <h2>Professional Experience</h2>

      {{#experience}}
      <div class="company">
        <div class="company__company__name">{{company}}</div>
        <div class="company__company__location">{{location}}</div>
        <div class="company__timespan">{{timespan}}</div>
        <div class="company__projects">
          {{#projects}}
          <div cass="company__projects__project">
            <h4 class="company__projects__project__title">{{title}}</h4>

            <ul>
              {{#jobs}}
              <li>{{.}}</li>
              {{/jobs}}
            </ul>
          </div>
          {{/projects}}
        </div>
      </div>
      {{/experience}}

      <h2>References</h2>
      {{#references}}
      <blockquote class="reference">
        <p class="reference__text">{{text}}</p>
        <p class="reference__from">&ndash; {{from}}</p>
      </blockquote>
      {{/references}}
    </div>
  </body>
</html>
